
/* INDEX.HTML */
body {
  color: #40514E;
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* START NAV */

/* .nav-container{
  position: relative;
  top: 5px;
} */


nav {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;  
  min-height: 8vh;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  padding-top: 2%;
}


.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: blue;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
} 

@media screen and (max-width: 1024px){
  .nav-links {
  width: 50%;
  }


}

@media screen and (max-width: 768px){
  body,html {
    overflow-x: hidden;
  } 

  /*
  .container {
    overflow-x: hidden;
  } */

  .nav-links {
  position: absolute;
  right: 0px;
  /*height: 92vh;*/
  height: 70vh;
  top: 8vh;
  /*background-color: #3d7ea6;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .vanta-birds .birds {
    display: none;
  }

  /*
   .vanta-birds .title-under-vanta {
    display: block;
  } */

  h1 {
    font-size: 3em!important;
  }

  h2{
    font-size: 1.8em!important;
  }

  h3 {
    font-size: 1.1em!important;
  }



  /*PORTFO*/


  /*EXPRESSO*/

  .expresso-mid {
    margin-left: 4%;
    margin-right: 4%;
  }


  div.expresso-mid .row1 {
  height: 100%;
  width: 100%;
 }

 div.expresso-mid .row2 {
  height: 100%;
  width: 100%;

 }

 div.process-1 {
  height: 100%;
  width: 100%;
}

img.expressoimg {
  height: 70%;
  width: 70%;
}

/*ADOBE XD */
img.airximg {
  height: 34%;
  width: 34%;
}

img.moviewatchimg {
  height: 64%;
  width: 64%;
}

/*CONTACT*/

.contact-me-2 {
 margin-right: 0;
 margin-left: 0;
}

}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggley .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggley .line2{
  opacity: 0;
}
.toggley .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


/* END NAV */


h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Bowlby One', cursive;
 /* color: #3d7ea6;*/
 color: black;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  /*color: #3d7ea6;*/
  color: black;
  /*padding-bottom: 10px;*/
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #5c969e;
}

a {
  /*color: #ffa5a5;*/
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: blue;
}

p {
  line-height: 2;
}

hr {
  border: dotted #ffa5a5 6px;
  border-bottom: none;
  width: 4%;
  margin: 4% auto;
}


.vanta-birds {
  overflow: hidden;
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;

}

.pixil-img {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}

/*.vanta-birds {
 width: auto; 
 height: 600px; 
      margin-bottom: 10px;
 margin: 0;
 padding: 0;

} */

.portfo {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #3d7ea6;
  padding-bottom: 10px;
  text-decoration: underline;
}



.skill-row {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.portfo-rows {
  background-color: #fcdada;
  margin: 100px 0;
  padding-bottom: 100px;
}

.portfo-title {
  padding-top: 100px;
}

.portfo-row-TEMP {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.top-container {
  background-color: white;
  /*position: relative;*/
  /*padding-top: 100px;*/
  padding-top: 5%;
  padding-bottom: 100px;
  /*background-size: 40px 40px;
  background-image:
  linear-gradient(to right, #A8A8A8 0.3px, transparent 0.3px),
  linear-gradient(to bottom, #A8A8A8 0.3px, transparent 0.3px);*/
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
}

.top-container-1 {
  flex-direction: column;
  width: 40%;
  padding-left: 5%;

}
.top-container-2 {
  flex-direction: column;
  width: 40%;
}

.top-container h1 {
  color: black;
  font-size: 4em;
}

.top-container h2 {
  color: black;
  font-size: 2em;
}


.middle-container {
  margin: 100px 0;
  /*background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);*/
}


/*  .bottom-container {
  background-color: #3d7ea6;
  padding: 50px 0 20px;
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  text-align: center;
}*/ 

.container {
  position: relative;
  min-height: 100vh;
}

.wrap {
  padding-bottom: 4%%;
}

.bottom-container {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: auto;
  /*background-color: black;*/
  padding-top: 2%;
  padding-bottom: 2%;
}

.bottom-container-line {
  border-top: 1px solid black;
  width: 90%;
}




.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 40%;
  margin: 4% auto;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.prof-pic {
  height: 200px;
  width: 200px;
}

.laptop-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.musicnotes-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.expresso-pic {
  width: 55%;
  float: right;
  margin-left: 30px;
}

.btn {
   background: #FFA5A5;
   background-image: -webkit-linear-gradient(top, #FFA5A5, #FB7676);
   background-image: -moz-linear-gradient(top, #FFA5A5, #FB7676);
   background-image: -ms-linear-gradient(top, #FFA5A5, #FB7676);
   background-image: -o-linear-gradient(top, #FFA5A5, #FB7676);
   background-image: -webkit-gradient(to bottom, #FFA5A5, #FB7676);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   border: solid #FFA5A5 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFA5A5 1px;
   background: #F3B9B9;
   background-image: -webkit-linear-gradient(top, #F3B9B9, #FFA5A5);
   background-image: -moz-linear-gradient(top, #F3B9B9, #FFA5A5);
   background-image: -ms-linear-gradient(top, #F3B9B9, #FFA5A5);
   background-image: -o-linear-gradient(top, #F3B9B9, #FFA5A5);
   background-image: -webkit-gradient(to bottom, #F3B9B9, #FFA5A5);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

/* PORTFOLIO.HTML */

.top {
  background-color: #fcdada;
  position: relative;
  padding-top: 200px;
}

.port-img {
  /*position: relative;   WHEN TAKE OUT: NAVBAR GOES OVER IMAGES*/
  height: 30%;
  width: 30%;
}

.port-top {
  /*background-color: #fcdada;*/
  /*position: relative;*/
  padding-top: 1%;
  padding-bottom: 4%;
}

/*.home {
  text-align: left;
  position: absolute;
  top: 0;
  left: 50px;
  margin-top: 0;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #3d7ea6;
  padding-bottom: 10px;
  text-decoration: underline;
}*/

.porthead {
  position: relative;
  top: 0;
  margin: 50px auto;
}

.port-middle2 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.contain-port-img {
  padding-bottom: 10%;
}

.back-portfolio {
  color: #3d7ea6;
}

/* PORTFOLIO EXPRESSO */

.expresso-mid {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 4%;
  margin-right: 4%;
}

.expresso-mid .row1 {
  flex-direction: column;
  height: 40%;
  width: 40%;
}

.expresso-mid .row2 {
  flex-direction: column;
  height: 40%;
  width: 40%;

}


.expresso-mid-row {
  
}

.expresso-mid-row .row3 {
 display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  margin-bottom: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

.process-1 {
  flex-direction: column;
  height: 30%;
  width: 30%;
}

.expresso-mid-row .row4 {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
}

.expressoimg {
  height: 26%;
  width: 26%;
}

  .construction-img {

    position: relative;
    height: 60%;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;

  }

.minihead {
  font-weight: bold;
}

/*ADOBE XD*/



.xd-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
}

.xd-blurb {
  margin-left: 14%;
  margin-right: 14%;

}

.xd-col1 {
  margin-bottom: 5%;
}

.airximg {
height: 18%;
width: 18%;
}

.moviewatchimg {
  height: 32%;
  width: 32%;
}


/* ARTWORK */

.ai-img {
  height: 20%;
  width: 20%;
}

#ai-img-yosemite {
  height: 15%;
  width: 15%;
}

.adobe-illustrate {
  margin-bottom: 4%;
}


/* CSSA WEB */

#cssa-link:hover {
  color: blue;
}
.cssa-subhead {
  margin-left: 10%;
  margin-right: 10%;
}

.cssa-subhead ul li {
  text-align: left;
}

#cssa-figma-img {
  height: 70%;
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#cssa-files-img {
  height: 50%;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* MCG PAINTING WEB*/

.mcgpaint-subhead {
  padding-left: 20%; 
  padding-right: 20%;

}

.mcgpaint-subhead li {
  text-align: left;
}






/* OTHER.HTML */



/* CONTACT.HTML */

.contact-head {
  margin-left: 2%;
  margin-right: 2%;
}


.contact-me-2 {
  margin-bottom: 6%;
  margin-top: 4%;
  background-color: #FCDADA;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 2%;
  padding-bottom: 4%;
}












